body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(14, 16, 15);
    scroll-behavior: smooth;
}

html {
    --myColor: #00bae2;
}

div#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.colored {
    border: 3px solid var(--myColor);
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('/assets/fonts/NotoSansKR-Bold.woff2');
}

@font-face {
    font-family: 'NotoSansKR-Light';
    src: url('/assets/fonts/NotoSansKR-Light.woff2') format('woff2'),
        url('/assets/fonts/NotoSansKR-Light.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('/assets/fonts/NotoSansKR-Medium.woff2') format('woff2'),
        url('/assets/fonts/NotoSansKR-Medium.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('/assets/fonts/NotoSansKR-Regular.woff2') format('woff2'),
        url('/assets/fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-SemiBold';
    src: url('/assets/fonts/NotoSansKR-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/NotoSansKR-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-ExtraBold';
    src: url('/assets/fonts/NotoSansKR-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/NotoSansKR-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Lemon';
    src: url('/assets/fonts/Lemon-Regular.woff2') format('woff2'),
        url('/assets/fonts/Lemon-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins-black';
    src: url('/assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Black.woff') format('woff');
}

@font-face {
    font-family: 'Kanit-extrabold';
    font-display: block;
    src: url('/assets/fonts/subset-Kanit-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/subset-Kanit-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Kanit-medium';
    src: url('/assets/fonts/Kanit-Medium.woff2') format('woff2'),
        url('/assets/fonts/Kanit-Medium.woff') format('woff');
}
