body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(14, 16, 15);
    scroll-behavior: smooth;
}

html {
    --myColor: #00bae2;
}

div#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.wrapper {
    border: 3px solid var(--myColor);
}

@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('/assets/fonts/NotoSansKR-Bold.ttf');
}

@font-face {
    font-family: 'NotoSansKR-Light';
    src: url('/assets/fonts/NotoSansKR-Light.ttf');
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    src: url('/assets/fonts/NotoSansKR-Medium.ttf');
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('/assets/fonts/NotoSansKR-Regular.ttf');
}

@font-face {
    font-family: 'NotoSansKR-SemiBold';
    src: url('/assets/fonts/NotoSansKR-SemiBold.ttf');
}

@font-face {
    font-family: 'NotoSansKR-ExtraBold';
    src: url('/assets/fonts/NotoSansKR-ExtraBold.ttf');
}

@font-face {
    font-family: 'Lemon';
    src: url('/assets/fonts/Lemon-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-black';
    src: url('/assets/fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Kanit-extrabold';
    src: url('/assets/fonts/Kanit-ExtraBold.ttf');
}

@font-face {
    font-family: 'Kanit-medium';
    src: url('/assets/fonts/Kanit-Medium.ttf');
}

@font-face {
    font-family: 'Kanit-thin';
    src: url('/assets/fonts/Kanit-Thin.ttf');
}
